name: Build & Deploy to GKE

on:
  push:
    branches: ["main"]

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: asia-east1
  IMAGE_NAME: ml-api
  CLUSTER_NAME: ml-gke-cluster
  REPO: ml-repo

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker asia-east1-docker.pkg.dev --quiet

      - name: Build & Push Image
        run: |
          docker build \
            -t asia-east1-docker.pkg.dev/$PROJECT_ID/$REPO/$IMAGE_NAME:${{ github.sha }} \
            -t asia-east1-docker.pkg.dev/$PROJECT_ID/$REPO/$IMAGE_NAME:latest .
          docker push asia-east1-docker.pkg.dev/$PROJECT_ID/$REPO/$IMAGE_NAME:${{ github.sha }}
          docker push asia-east1-docker.pkg.dev/$PROJECT_ID/$REPO/$IMAGE_NAME:latest

      # 
      - name: Get GKE credentials (official action)
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ env.CLUSTER_NAME }}
          location: ${{ env.REGION }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Deploy to GKE
        run: |
          kubectl apply -f deployment.yaml
          kubectl rollout status deployment/ml-api